<a href="https://colab.research.google.com/github/Shreeranga1/Naive_bayes/blob/main/Naive_Bayes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [2]:
data=pd.read_csv("https://raw.githubusercontent.com/tkseneee/Dataset/master/breast_cancer.csv")
data.head()

         id diagnosis  ...  symmetry_worst  fractal_dimension_worst
0    842302         M  ...          0.4601                  0.11890
1    842517         M  ...          0.2750                  0.08902
2  84300903         M  ...          0.3613                  0.08758
3  84348301         M  ...          0.6638                  0.17300
4  84358402         M  ...          0.2364                  0.07678

[5 rows x 32 columns]

In [5]:
class_prob=data['diagnosis'].value_counts(normalize=True)
class_prob

B    0.627417
M    0.372583
Name: diagnosis, dtype: float64

In [9]:
p_B=class_prob[0]
p_M=class_prob[1]
p_B,p_M

(0.6274165202108963, 0.37258347978910367)

In [10]:
data=data[['diagnosis','radius_mean','texture_mean','perimeter_mean','area_mean']]

In [11]:
data.head(2)

  diagnosis  radius_mean  texture_mean  perimeter_mean  area_mean
0         M        17.99         10.38           122.8     1001.0
1         M        20.57         17.77           132.9     1326.0

In [17]:
out=data['diagnosis']
inp=data.drop(columns=['diagnosis'],axis=1)

     radius_mean  texture_mean  perimeter_mean  area_mean
0          17.99         10.38          122.80     1001.0
1          20.57         17.77          132.90     1326.0
2          19.69         21.25          130.00     1203.0
3          11.42         20.38           77.58      386.1
4          20.29         14.34          135.10     1297.0
..           ...           ...             ...        ...
564        21.56         22.39          142.00     1479.0
565        20.13         28.25          131.20     1261.0
566        16.60         28.08          108.30      858.1
567        20.60         29.33          140.10     1265.0
568         7.76         24.54           47.92      181.0

[569 rows x 4 columns]

In [18]:
out.replace({'M':1,'B':0},inplace=True)

In [15]:
from sklearn.model_selection import  train_test_split

In [24]:
x_tarin,x_test,y_train,y_test=train_test_split(inp,out,test_size=0.3,random_state=48)

In [21]:
# use Gaussian NB for continous input data 
# BERnouli NB for boolean input data

In [22]:
from sklearn.naive_bayes import GaussianNB

In [27]:
gnb=GaussianNB()
gnb.fit(x_tarin,y_train)
y_pred=gnb.predict(x_test)

In [30]:
from sklearn.metrics import classification_report

In [34]:

print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.86      0.96      0.91        95
           1       0.94      0.80      0.87        76

    accuracy                           0.89       171
   macro avg       0.90      0.88      0.89       171
weighted avg       0.89      0.89      0.89       171

In [35]:
# now lets do cross validation

In [36]:
from sklearn.model_selection import cross_val_score

In [38]:
score=cross_val_score(gnb,inp,out,cv=5,scoring='f1')

In [39]:
score

array([0.76056338, 0.81081081, 0.84615385, 0.92857143, 0.86363636])